*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi/Satoshi-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Police Satoshi - Medium */
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi/Satoshi-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* Police Satoshi - Bold */
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Police Satoshi - Italic */
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi/Satoshi-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


body{
    padding: 15px;
    background-color: #fff;
    height: 100vh;
    font-family: 'Satoshi', sans-serif;
    overflow: hidden;
}

main{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    background-image: url('./ressource/backgorundSky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    font-weight: bold;
    letter-spacing: -4%;
    color: #fff;
}

h2{
    text-align: center;
    font-size: 16px;
}

#container-time{
    display: flex;
    gap: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
}


#container-time h1{
    font-weight: bold;
    letter-spacing: -5%;
} 

#container-time p{
    color: #fff;
    font-weight: medium;
    font-size: 24px;
}

#container-idea{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
    flex-direction: row;
    /* background-color: rgba(25, 25, 25, 0);
    backdrop-filter: blur(50px); */
    border-radius: 10px;
    padding-right:  20px;
    padding-left:  20px;
    gap: 30px;
}

#container-idea > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*CLOCK*/


article{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min-content;
    padding: 20px;
    background-color: #191919;
    border-radius: 30px;
}

.clock {
    border-radius: 50%;
    background: #fff url('https://cssanimation.rocks/images/posts/clocks/ios_clock.svg') no-repeat center;
    background-size: 88%;
    height: 12em;
    padding-bottom: 0;
    position: relative;
    width: 12em;
}

#container-idea > div:nth-of-type(3) .clock {
    border-radius: 50%;
    background: #fff url('https://cssanimation.rocks/images/posts/clocks/station_clock.svg') no-repeat center;
    background-size: 88%;
    height: 12em;
    padding-bottom: 0;
    position: relative;
    width: 12em;
}
  
.clock.simple:after {
    background: #000;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5%;
    height: 5%;
    z-index: 10;
}

.minutes-container, .hours-container, .seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*gsshhgsdhgds*/
   
}

.hours {
    background: #000;
    height: 18%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: bottom;
    width: 2.5%;
    border-radius: 10%;
    border-radius: 200% / 30%;
}



.minutes {
    background: #000;
    position: absolute;
    transform-origin: bottom;
    border-radius: 150%/10%;
    width: 2%;
    height: 35%;
    left: 49%;
    top: 15%;
}

.seconds {
    position: absolute;
    z-index: 100;
    background: red;
    height: 30%;
    left: 49.5%;
    top: 20%;
    transform-origin: 30% 60%;
    width: 1%;
    border-radius: 200%/10%;
} 

#container-idea > div:nth-of-type(1) .hours {
    width: 2.5%;
    height: 20%;
    left: 48.75%;
    top: 30%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 0%;
}

#container-idea > div:nth-of-type(1) .minutes {
    width: 2.5%;
    height: 40%;
    left: 49%;
    top: 10%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    border-radius: 0%;
}

#container-idea > div:nth-of-type(1) .seconds {
    background-color: #000;
    height: 45%;
    left: 49.5%;
    top: 14%;
    width: 1%;
    -webkit-transform-origin: 50% 80%;
    transform-origin: 50% 80%
}


#container-idea > div:nth-of-type(2) .minutes {
    background: #000;
    width: 3%;
    height: 35%;
    position: absolute;
    left: 48.65%;
    top: 18%;
    -webkit-transform-origin: 50% 78.5%;
    transform-origin: 50% 78.5%
}


#container-idea > div:nth-of-type(2) .seconds {
    background: red;
    width: 1.5%;
    height: 42%;
    position: absolute;
    left: 49.25%;
    top: 17%;
    -webkit-transform-origin: 50% 71%;
    transform-origin: 50% 71%;
    z-index: 8
}

#container-idea > div:nth-of-type(3) .hours {
    background: #000;
    width: 3.5%;
    height: 40%;
    position: absolute;
    left: 48.25%;
    top: 22%;
    -webkit-transform-origin: 50% 71%;
    transform-origin: 50% 71%;
    border-radius: 0;
}

#container-idea > div:nth-of-type(3) .minutes {
    background: #000;
    width: 3.5%;
    height: 55%;
    position: absolute;
    left: 48.25%;
    top: 7%;
    -webkit-transform-origin: 50% 78.5%;
    transform-origin: 50% 78.5%;
    border-radius: 0;
}

#container-idea > div:nth-of-type(3) .seconds {
    background: red;
    width: 1.5%;
    height: 42%;
    position: absolute;
    left: 49.25%;
    top: 20%;
    -webkit-transform-origin: 50% 71%;
    transform-origin: 50% 71%;
    border-radius: 0;
    z-index: 8
}



#container-idea > div:nth-of-type(3) .seconds::before {
    background: red;
    border-radius: 50%;
    content: "";
    position: absolute;
    top: -9%;
    left: -200%;
    height: 18%;
    width: 500%
}

.circle-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    padding: 4px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#container-idea > div:nth-of-type(1) .circle-container{
    padding: 4%;
}

.circle{
    position: relative;
    height: 4px;
    width: 4px;
    background-color: red;
    z-index: 8;
    border-radius: 50%;
}


/* @keyframes rotate {
    100% {
      transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
  }
  .minutes-container {
    animation: rotate 3600s infinite linear;
  }
  .seconds-container {
    animation: rotate 60s infinite linear;
}

.minutes-container {
    animation: rotate 3600s infinite steps(60);
  }
  .seconds-container {
    animation: rotate 60s infinite steps(60);
} */