*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-color: #F5F7FB;
   height: 100vh;
   font-family: 'General Sans', sans-serif;
}

/*HEADER*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}

header h1{
    font-size: 25px;
}

/*CONTAINER*/
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateY(-7%);
    gap: 60px;
}

#container-reponse{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    gap: 15px;
}

.reponse-case{
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 3px;
    width: 280px;
    padding: 7px;
    padding-left: 15px;
    background-color: rgba(0, 0, 0, 0.05);
}