*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 30px;
    overflow: hidden;
}

#container{
    background-color: #191919;
    width: 300px;
}

#head-calculatrice{
    height: 100px;
}

#column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button-operation{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 20px;
    border-radius: 50px;
}

.number-operation, .virgule{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    padding: 20px;
    border-radius: 100px;
}