*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    background-color: #111315;
}

#wrapper{
    display: flex;
    flex-direction: column;
    background-color: #262a2b1b;
    background-color: #ffffff0f;
    border: 2px #ffffff18 solid;
    backdrop-filter: 50px;
    /* min-height: 400px; */
    padding: 40px;
    padding-bottom: 30px;
    gap: 50px;
    border-radius: 7px;
    /* border: 2px solid #b5562d24; */
}

#container-input{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#container-input input{
    width: 500px;
    background-color: #00000020;
    background-color: #3B3B3D;
    border: 2px #ffffff3b solid;
    color: #fff;
    padding: 10px;
}

#container-input input::placeholder {
    color: #ffffff95;
}


/* .notification{
    display: flex;
    
    padding-left: 20px;
    flex-direction: row;
    gap: 5px;
    padding: 10px;
} */

button{
    padding: 16px 8px;
}

.alert{
    margin-bottom: 10px ;
}

.notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B3B3D;
    border: 0px;
    color: #fff;
    gap: 5px;
    padding: 10px;
    padding-left: 20px;
    border: 2px #ffffff18 solid;
}

.back{
    background-color: aqua;
}